{% extends 'gabarit.twig' %}

{% block title %}<h1>Bienvenue sur le site de MMI</h1>{% endblock %}

{% block content %}
<div class="alert alert-success">
    J'adore le communisme et j'aime trop les licorne prem deg <3
</div>
{% endblock %}